.footer {
  background-color: rgb(108 117 125);
  color: #fff;
  padding: 5px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.footer__copyright {
  text-align: center;
  margin-top: 5px;
}
